<!-- custom header -->
<header class="custom-header">
  <div class="container">
    <div class="row">

      <!-- logo and menu icon -->
      <div class="col-md-3 logo">
        <button type="button" class="navbar-toggle collapsed logo__navbtn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img class="logo__img" alt="curemint" src="/themes/curemint/logo.png"></a>
      </div>

      <!-- search bar -->
      <div class="searchprod col-md-7">
        <form class="searchprod__form">
          <div class="form-group searchprod__form__group">
            <input type="search" class="form-control searchprod__form__input" id="search" placeholder="Search">
            <button class="btn searchprod__form__btn"><img src="/themes/curemint/images/search.svg"></button>
          </div>
        </form>
      </div>

      <!-- nav bar -->
      <div class="col-md-2">
        <ul class="navtools">

          <!-- list icon-->
          <li class="navtools__list">
            <a class="listicon" href="#">
              <img class="listicon__img" src="/themes/curemint/images/list.jpg">
            </a>
          </li>

          <!-- user icon-->
          <li class="navtools__list">
            <a class="profileicon" href="#">
              <img class="profileicon__img" src="/themes/curemint/images/user.jpg">
            </a>
          </li>

          <!-- cart -->
          <li class="navtools__list cart last">

            <!-- cart icon -->
            <a class="carticon" href="#">
              <!-- cart items -->
              <span class="carticon__item">4</span>
              <img class="carticon__img" src="/themes/curemint/images/cart.jpg">
            </a>

            <!-- cart dropdown -->
            <ul class="cart__dropdown">
              <li class="cart__dropdown__list"><span class="cart__dropdown__title">Your Savings:</span><span class="cart__dropdown__price">$888.88</span></li>
              <li class="cart__dropdown__list"><span class="cart__dropdown__title">Items in Your Cart:</span><span class="cart__dropdown__item">4</span></li>
            </ul>
          </li>

        </ul>
      </div>

    </div>
  </div>
</header>