<div class="total">
  {% for total in totals %}
    <div class="total__element">
      <span class="total__element-label">{{ total.label }}:</span>
      <span class="total__element-value">{{ total.value }}</span>
    </div>
  {% endfor %}
</div>
