// cart
.cart {

  &__dropdown {
    background-color: $whitecolor;
    border: 1px solid $gainsborocolor;
    box-shadow: 1px 2px 2px 0 $lightblackcolor;
    display: none;
    line-height: rem-calc(25px);
    list-style: none;
    margin: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 60px;
    width: 420px;
    z-index: 1;

    &-list {
      border-bottom: 1px solid $culturedcolor;
      clear: both;
      font-size: rem-calc(15px);
      line-height: rem-calc(25px);
      padding: 5px 0;
    }

    &-price {
      float: right;
      font-family: $helvetica-b;
      text-align: right;
    }

    &-item {
      float: right;
      font-family: $helvetica-b;
      text-align: right;
    }
  }
}

.navtools {

  &__list-cart:hover .cart {

    &__dropdown {
      display: block;
    }
  }
}
