// most purchased items slider
.most-purchased .views-row {
  padding: 10px;
  position: $rel;

  .wish-item {
    color: $graycolor;
    display: $in-block;
    font-family: FontAwesome;
    font-size: rem-calc(20);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: $abs;
    right: 0;
    text-decoration: none;
    text-rendering: auto;
    top: 0;

    &::before { content: '\f08a'; }
  }

  .wish {
    color: $madderlakecolor;

    &::before {
      content: '\f004';
    }
  }

  img {
    max-width: 100%;
  }

  .items-img {
    align-items: center;
    display: flex;
    height: 220px;
    justify-content: center;
    overflow: hidden;
  }

  .item-name {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    color: $quartzcolor;
    display: -webkit-box;
    display: -moz-box;
    font-family: $helvetica-b;
    font-size: rem-calc(14);
    font-weight: bold;
    -moz-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-height: rem-calc(20);
    max-height: 40px;
    min-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-distributor {
    clear: both;
    color: $graycolor;
    font-family: $helvetica-r;
    font-size: rem-calc(14);
    font-weight: normal;
  }

  .btn {
    background: transparent;
    border: 1px solid $spanishlightgraycolor;
    border-radius: 3px;
    box-shadow: $none;
    color: $graycolor;
    font-family: $helvetica-b;
    font-size: rem-calc(14);
    line-height: rem-calc(48);
    margin: 0;
    padding: 0 20px;
    text-transform: uppercase;
    vertical-align: top;
  }

  .field--name-quantity {
    float: $fl;
  }

  .control-label {
    display: $none;
  }

  .form-number {
    border-color: $chinesesilvercolor;
    box-shadow: $none;
    color: $graycolor;
    font-size: rem-calc(16);
    height: 50px;
    padding: 0 5px 0 15px;
    width: 77px;
  }

  .form-actions {
    float: $fr;
  }

}

.itemprice {

  span {
    color: $quartzcolor;
    display: $in-block;
    line-height: rem-calc(25);
    margin: 15px 0 10px;
    width: 46%;
  }

  &__formulary {
    font-family: $helvetica-b;
    font-size: rem-calc(20);
  }

  &__msrp {
    font-size: rem-calc(12);
    text-decoration: line-through;
  }
}

.pkgsection {
  clear: both;
  color: $graycolor;
  display: $in-block;
  font-family: $helvetica-r;
  font-size: rem-calc(14);
  font-weight: normal;
  margin-bottom: 5px;
  vertical-align: middle;

  p:first-child {
    float: $fl;
  }

  &__sku {
    float: $fr;
    padding-left: 15px;
  }

}

// rating section

.rating {
  padding-bottom: 5px;

  h6 {
    color: $spanishgreencolor;
    display: $in-block;
    font-family: $helvetica-b;
    font-size: rem-calc(14);
    line-height: rem-calc(25);
    margin-right: 5px;
    text-transform: capitalize;
  }

  ul {
    display: $in-block;
    list-style: $none;
    margin: 0;
    padding: 0;
  }

  li {
    display: $in-block;
    margin-right: 1px;
  }

  a {
    color: $graycolor;
    display: $in-block;
    font-family: FontAwesome;
    font-size: rem-calc(14);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    text-rendering: auto;

    &::before {
      content: '\f006';
    }

  }

  .rate {
    color: $chromeyellowcolor;

    &::before {
      content: '\f005';
    }

  }

  span {
    display: $in-block;
    font-size: rem-calc(11);
    vertical-align: text-bottom;
  }
}
