.path-checkout {
  .layout-region-checkout-secondary {
    border: solid 1px $gainsborocolor;
    border-radius: 4px;
    padding: 30px 20px;
    width: 304px;
  }

  .layout-region-checkout-main {
    width: 72%;
  }

  .layout-region-checkout-footer {
    width: 72%;
  }
}

.total {
  &__element {
    border-bottom: 1px solid $culturedcolor;
    clear: both;
    color: $graycolor;
    font-size: rem-calc(15px);
    line-height: rem-calc(25px);
    overflow: hidden;
    padding: 2px 0;

    &-value {
      float: right;
      font-family: $helvetica-b;
      font-weight: bold;
      text-align: right;
    }
  }
}
