// slider
.slick-dots {
  display: none;
  visibility: hidden;
}

.slick-prev {
  background: $lightwhitecolor;
  border: 0;
  border-radius: 0 4px 4px 0;
  font-size: 0;
  height: 100%;
  left: -15px;
  outline: none;
  position: absolute;
  top: 0;
  width: 64px;
  z-index: 1;

  &::after {
    background-image: url('../images/Dark-Right.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    transform: scale(-1);
    width: 100%;
  }

}

.slick-next {
  background: $lightwhitecolor;
  border: 0;
  border-radius: 0 4px 4px 0;
  font-size: 0;
  height: 100%;
  outline: none;
  position: absolute;
  right: -15px;
  top: 0;
  width: 64px;
  z-index: 1;

  &::after {
    background-image: url('../images/Dark-Right.png');
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }

}
