// supplies category page
.view-supplies.view-display-id-page_1 {
  .views-col {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .views-field-name {
    position: relative;

    a {
      align-items: flex-end;
      background: $lightwhitecolor;
      bottom: 0;
      color: $quartzcolor;
      display: flex;
      font-family: $helvetica-r;
      font-size: rem-calc(14px);
      font-weight: normal;
      left: 0;
      min-height: 40px;
      padding: 10px;
      position: absolute;
      text-align: left;
      text-decoration: none;
      width: 100%;
    }
  }

  .views-field-view {
    clear: both;
    overflow: hidden;
    padding: 12px 10px 0;

    .field-content {
      line-height: rem-calc(25px);
    }
  }

  .more-link a {
    color: $graycolor;
    font-family: $helvetica-b;
    text-decoration: none;
  }
}

.view-supplies.view-display-id-page_2 {
  .views-field-name {
    a {
      background: transparent;
      bottom: 0;
      color: $graycolor;
      display: inline-block;
      font-family: $helvetica-r;
      font-size: rem-calc(14px);
      font-weight: normal;
      left: 0;
      line-height: normal;
      min-height: auto;
      padding: 0;
      position: relative;
      text-align: left;
      text-decoration: none;
      width: auto;
    }
  }
}
