// supplies category page
.view-supplies.view-display-id-page_1 {
  .views-col {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .views-field-name {
    position: relative;

    a {
      align-items: center;
      background: $lightwhitecolor;
      bottom: 0;
      color: $quartzcolor;
      display: flex;
      font-family: $helvetica-r;
      font-size: rem-calc(14px);
      font-weight: normal;
      height: 70px;
      left: 0;
      padding: 0 20px;
      position: absolute;
      text-align: left;
      text-decoration: none;
      width: 100%;
    }
  }

  .views-field-view {
    clear: both;
    overflow: hidden;
    padding: 20px 20px 0;

    .field-content {
      line-height: rem-calc(25px);
    }
  }

  .more-link a {
    color: $graycolor;
    font-family: $helvetica-b;
    text-decoration: none;
  }
}
