// supplies sub-category page
.view-supplies.view-display-id-page_3 {
  .views-col {
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .views-field-name {
    position: relative;

    a {
      align-items: flex-end;
      background: $lightwhitecolor;
      bottom: 0;
      color: $quartzcolor;
      display: flex;
      font-family: $helvetica-r;
      font-size: rem-calc(14px);
      font-weight: normal;
      left: 0;
      min-height: 40px;
      padding: 10px;
      position: absolute;
      text-align: left;
      text-decoration: none;
      width: 100%;
    }
  }
}
