// font-family
$bold: HelveticaBold;
$regular: Helvetica;
$RalewayM: RalewayMedium;

// font size
$size11: 11px;
$size12: 12px;
$size13: 13px;
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size17: 17px;
$size20: 20px;
$size22: 22px;

// positions
$rel: relative;
$fix: fixed;
$abs: absolute;
$stat: static;

// display
$block: block;
$in-block: inline-block;
$none: none;

// float
$fl: left;
$fr: right;

// colors
$textcolor: #7f7f7f;
$itemnamecolor: #4a4a4a;
$wishitemcolor: #c53938;
$instock: #009347;
$btnbordercolor: #9e9e9e;
$selectbordercolor: #9e9e9e;
$rateColor: #ffa900;

// headings
@mixin heading {
  font-family: $RalewayM;
}

@mixin heading-1 {
  @include heading;
}

@mixin heading-2 {
  @include heading;
  font-size: $size20;
  text-transform: uppercase;
  margin-bottom: 18px;
  color:$itemnamecolor;
}

@mixin heading-3 {
  @include heading;
}

@mixin heading-4 {
  @include heading;
}

@mixin heading-5 {
  @include heading;
}

@mixin heading-6 {
  @include heading;
}

h1 { @include heading-1; }
h2 { @include heading-2; }
h3 { @include heading-3; }
h4 { @include heading-4; }