// font-family
$bold: HelveticaBold;
$regular: Helvetica;
$ralewaym: RalewayMedium;

// font size
$size10: .625rem;
$size11: .6875rem;
$size12: .75rem;
$size13: .8125rem;
$size14: .875rem;
$size15: .9375rem;
$size16: 1rem;
$size17: 1.0625rem;
$size18: 1.125rem;
$size19: 1.1875rem;
$size20: 1.25rem;
$size21: 1.3125rem;
$size22: 1.375rem;
$size23: 1.4375rem;
$size24: 1.5rem;
$size25: 1.5625rem;
$size48: 3rem;

// positions
$rel: relative;
$fix: fixed;
$abs: absolute;
$stat: static;

// display
$block: block;
$in-block: inline-block;
$none: none;

// float
$fl: left;
$fr: right;

// colors
$whitecolor: #fff;
$blackcolor: #000;
$textcolor: #7f7f7f;
$itemnamecolor: #4a4a4a;
$wishitemcolor: #c53938;
$instock: #009347;
$btnbordercolor: #9e9e9e;
$ratecolor: #ffa900;
$selectbordercolor: #ccc;
$sliderarrow: rgba(255, 255, 255, .75);
$bordercolor: #efefef;
$inputbg: #fafafa;
$inputcolor: #4d4d4d;
$btncolor: #b3b3b3;
$cartcolor: #0089dd;
$iconbarcolor: #999999;


// headings
@mixin heading {
  font-family: $ralewaym;
}

@mixin heading-1 {
  @include heading;
}

@mixin heading-2 {
  @include heading;
  font-size: $size20;
  text-transform: uppercase;
  margin-bottom: 18px;
  color: $itemnamecolor;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

