@font-face {
    font-family: 'RalewayBlack';
    src: url('../fonts/RalewayBlack.eot');
    src: url('../fonts/RalewayBlack.eot') format('embedded-opentype'),
         url('../fonts/RalewayBlack.woff2') format('woff2'),
         url('../fonts/RalewayBlack.woff') format('woff'),
         url('../fonts/RalewayBlack.ttf') format('truetype'),
         url('../fonts/RalewayBlack.svg#RalewayBlack') format('svg');
}
@font-face {
    font-family: 'RalewayBold';
    src: url('../fonts/RalewayBold.eot');
    src: url('../fonts/RalewayBold.eot') format('embedded-opentype'),
         url('../fonts/RalewayBold.woff2') format('woff2'),
         url('../fonts/RalewayBold.woff') format('woff'),
         url('../fonts/RalewayBold.ttf') format('truetype'),
         url('../fonts/RalewayBold.svg#RalewayBold') format('svg');
}
@font-face {
    font-family: 'RalewayBoldItalic';
    src: url('../fonts/Raleway-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayExtraBold';
    src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayExtraBoldItalic';
    src: url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayExtraLight';
    src: url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayExtraLightItalic';
    src: url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayItalic';
    src: url('../fonts/Raleway-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayLight';
    src: url('../fonts/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayLightItalic';
    src: url('../fonts/Raleway-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayMedium';
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayMediumItalic';
    src: url('../fonts/Raleway-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewaySemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewaySemiBoldItalic';
    src: url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayThin';
    src: url('../fonts/Raleway-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayThinItalic';
    src: url('../fonts/Raleway-ThinItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaLTStdRoman_0.eot');
    src: url('../fonts/HelveticaLTStdRoman_0.eot') format('embedded-opentype'),
         url('../fonts/HelveticaLTStdRoman_0.woff2') format('woff2'),
         url('../fonts/HelveticaLTStdRoman_0.woff') format('woff'),
         url('../fonts/HelveticaLTStdRoman_0.ttf') format('truetype'),
         url('../fonts/HelveticaLTStdRoman_0.svg#HelveticaLTStdRoman_0') format('svg');
}
@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold_0.eot');
    src: url('../fonts/HelveticaBold_0.eot') format('embedded-opentype'),
         url('../fonts/HelveticaBold_0.woff2') format('woff2'),
         url('../fonts/HelveticaBold_0.woff') format('woff'),
         url('../fonts/HelveticaBold_0.ttf') format('truetype'),
         url('../fonts/HelveticaBold_0.svg#HelveticaBold_0') format('svg');
}
