// Base-theme fonts.
@import 'fonts';

// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// slick slider 
@import '_slick';

// curemint project styling
@import 'curemint/variables';
@import 'curemint/homepage';

body{
	font-family: $regular;
	color: $textcolor;
}
*{
	outline:$none !important;
}